

.profile{
    color: rgb(82, 68, 8);
}
.container-nav{
    background-color: black;
}

#nav-bar{
    
    text-align: right;
    padding-left: 3rem;
    margin-left: 3rem;
}
#nav-bar a{
    text-decoration: none;
    margin-left: 3rem;
  
} 