
/* styling class container-nav */
.profile{
    color: rgb(82, 68, 8);
    
}
.container-nav{
    background-color: black;
    height: 80px;
    
}

#nav-bar{
    
    text-align: right;
    padding-left: 3rem;
    margin-left: 3rem;
}
#nav-bar a{
    text-decoration: none;
    margin-left: 3rem;
  
} 
.nav a:hover{
    background-color: green;
    border-radius: 4px;

}